@import "tailwindcss";


.font-roboto {
    font-family: "Roboto", sans-serif;
}

.font-inknut-antiqua {
    font-family: "Inknut Antiqua", serif;
}

.font-nunito {
    font-family: "Nunito", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.bg-nav {
    background: #525982;
}

.text-primary {
    color: #204B93!important;
}

.bg-primary {
    background: #204B93!important;
}

.text-secondary {
    color: #F76622!important;
}

.bg-secondary {
    background: #F76622!important;
}