@import "tailwindcss";


:root {
    --color-primary: #204B93;
    --color-secondary: #F76622;
}


.font-roboto {
    font-family: "Roboto", sans-serif;
}

.font-inknut-antiqua {
    font-family: "Inknut Antiqua", serif;
}

.font-nunito {
    font-family: "Nunito", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.bg-nav {
    background: #525982;
}

.text-primary {
    color: var(--color-primary) !important;
}

.bg-primary {
    background: var(--color-primary) !important;
}

.text-secondary {
    color: var(--color-secondary) !important;
}

.bg-secondary {
    background: var(--color-secondary) !important;
}

.owl-carousel .owl-item img {
    width: auto !important;
    height: auto;
}

/* .owl-dot{
    background: #F76622!important;
    border-radius: 50%!important;
    width: 10px!important;
    height: 10px!important;
    margin: 0 5px!important;
    opacity: 1!important;
    transition: all 0.3s ease-in-out!important;

}

.owl-dot.active{
    background: #204B93!important;
    width: 15px!important;
    height: 15px!important;
    margin: 0 5px!important;
    opacity: 1!important;
    transition: all 0.3s ease-in-out!important;
} */


@layer components {
    .title {
        @apply font-bold text-center w-fit mx-auto relative py-2 text-3xl mt-10 pb-2;
        color: var(--color-primary) !important;
    }

    .title div:nth-child(1) {
        @apply h-1 z-10 absolute w-2/5 left-1/2 transform -translate-x-1/2 mt-1;
        background-color: var(--color-secondary) !important;
    }

    .title div:nth-child(2) {
        @apply z-0 absolute w-full mx-auto;
        background-color: var(--color-secondary) !important;
        margin-top: 0.35rem;
        height: 1px;
    }
}