@import "tailwindcss";


.font-roboto {
    font-family: "Roboto", sans-serif;
}

.font-inknut-antiqua {
    font-family: "Inknut Antiqua", serif;
}

.font-nunito {
    font-family: "Nunito", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.bg-nav {
    background: #525982;
}